@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>The acute pediatrics orientation website</p>
<p>Used to train new employees in McMaster Children Hospital</p>
<p>Educator contact educator@acutepediatrics.com</p>
